body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0072ff, #00c6ff);
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h2 {
    color: #fffefe;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .game-choice {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: none;
  }
  
  .game-choice:hover {
    background-color: #f2f2f2;
  }
  
  .game-choice h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
  }
  
  .game-choice:active {
    transform: translateY(2px);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  .game-choice:focus {
    outline: none;
  }
  
  .game-choice:active h3 {
    transform: translateY(1px);
  }
  
  @media (max-width: 600px) {
    h2 {
      font-size: 20px;
    }
  
    .game-choice {
      width: 180px;
      height: 100px;
    }
  
    .game-choice h3 {
      font-size: 16px;
    }
  }
  